node_modules
.next
out
build
dist
.env
.env*.local
*.tsbuildinfo
public/uploads/*
!public/uploads/.gitkeep
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
backups/
next-dev*.log


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
